@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
/*
font-family: 'Poppins', sans-serif;
*/
body {
    background-color: antiquewhite;
    background-image: url(./img/fondofondo.jpg);
    text-align: center;
}
h1 {
    font-size: 45px;
    color: aquamarine;
    text-shadow: 5px 5px 5px black;
    }

div > a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5rem;
}
ul {
    font-size: large;
}


.grid-layout {
    display: grid; ;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    justify-content: stretch;

    width: 80%;
    margin: 0 auto;
    background-color: rgba(100, 200, 255, .5);
    padding: 20px;
    border: 1px solid black;
}

.caja {
    background-color: rgba(100, 150, 255, .7);
    text-align: center;
}

.c2a > ul {
    font-size: 1.5rem;
}
.c2b > ul {
    font-size: 1.5rem;
}

.c1 .logo {
    height: 100px;
    justify-content: center;
    margin: 20px;
    justify-content: center;
}

.c3 .enlaces {
    width: 100px;
    padding-bottom: 2rem;
}

.c1 {
    grid-column: 1/6;

    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.c2 {
    grid-column: 1/5;
    background-color: rgba(100, 150, 255, .7);
}
.c2a {
    grid-column: 1/4;
    background-color: rgba(100, 150, 255, .7);
    padding: 1rem;
    margin: 0px;
}
.c2b {
    grid-column: 1/6;
    background-color: rgba(100, 150, 255, .7);
    padding: 1rem;
    padding-left: 4rem;
    margin: 0px;
    border: 1px solid blue;
    border-radius: 9px;
}

.c3 {
    grid-column: 5/6;

    text-align: center;
    background-color: rgb(174, 119, 226);
    height: 1200px;
    padding-left: 1.5rem;
    padding-right: 1rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;

    display: grid;
    grid-template-columns: auto;
}

.c4 {
    grid-column: 1/2;
    padding-top: 1rem;
    padding-left: 1rem;
}

.c5 {
    grid-column: 2/6;
    padding-top: 1rem;
}

.c6 {
    grid-column: 2/6;
}

.c7 {
    grid-column: 2/6;
    height: 3rem;
}
/*-------------------------------------------------------
+++++++++++++++++++++++++++++++++++++++
´´´´´´´´´´´´´´´´´´*/
.name-list {
    list-style: none;
    padding: 0;
  }
  
  .name-item {
    display: flex;
    align-items:end;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  .thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .name-item:hover .thumbnail {
    transform: scale(1.2);
    width: 100px;
  }

  
  span.name {
    margin-left: 10px;
    background-color: rgba(100, 200, 255, .2);
    border-radius: 40%;
  }

  .componentes {
    font-size: 2rem;
    background-color: rgba(100, 200, 255, .5);
    padding: 1rem;
    border: 1px solid blue;
    border-radius: 9px;
  }
  li {
    width: 300px;
  }
  /* ---------------introduciendo las tarjetas---------------------------------- */


  button{
    background-color: rgba(168, 223, 39, 0.2);
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 2px 4px rgba(0,0,0,.6);
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px rgba(0,0,0,1);

    padding: 10px 25px;
    margin: 10px;
  }

  .tarjeta-contenedor {
    width: 80vw;
    background-color: rgba(0,0,0,.8);
    border-radius: 12px;
    border: 6px solid rgba(168, 223, 39, 0.2);
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    display: none;
  }

  .tarjeta h2 {
    margin: 0;
    background-color: rgba(168, 223, 39, 0.2);
  }

  .show {
    display: block;
  }

  /* +++++++++++++++ logros ++++++++++++++++++++++++++ */


